<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/jquery.staffpage-plugins.js"></script>
<script src="js/jquery.staffpage-init.js"></script>

<div id="demo"></div>